@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "tailwindcss";



@custom-variant dark (&:where(.dark, .dark *));

:root {
    --color-primary: #3EB489;
    --color-primary-light: #D8F3EC;
    --color-primary-hover: #43c696;
    --color-secondary: #FFB562;
    --color-secondary-light: #ffc587;
    --color-text-primary: #2E2E2E;
    --color-text-secondary: #929292;
    --color-danger: #FF6B6B;
    --bg-color: #f9fafb;
    --text-color: black;
}

.dark {
  --bg-color: #121212;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}


.btn-filter {
  @apply tracking-wider rounded-full text-gray-700 dark:text-gray-300 px-3 py-1 border-1 border-gray-400 dark:border-gray-600 text-xs md:text-sm cursor-pointer  dark:bg-gray-800 hover:bg-[var(--color-primary-light)] transition dark:hover:bg-gray-700;
}

.input-adicionar {
  @apply focus-visible:outline-2 focus-visible:outline-[var(--color-primary)] active:bg-[var(--color-primary)] border-1 border-[var(--color-primary)] py-3 px-5 flex-1 rounded-full bg-white dark:bg-gray-900 text-[var(--color-primary)] dark:text-gray-100 pr-30;
}

.item {
  @apply border-1 border-gray-200 dark:border-gray-700 flex gap-2 items-center justify-between bg-white dark:bg-gray-900 rounded-lg py-2 px-4 shadow-xs;
}