@import "tailwindcss";

:root {
    --color-primary: #3EB489;
    --color-primary-light: #D8F3EC;
    --color-primary-hover: #43c696;
    --color-secondary: #FFB562;
    --color-secondary-light: #ffc587;
    --color-text-primary: #2E2E2E;
    --color-text-secondary: #6E6E6E;
    --color-danger: #FF6B6B;
}

body {
    background-color: #F9FAFB;
}